######################################################################
# SimpleGougiShogi設定ファイル
######################################################################

############################################################
# 合議タイプの設定
############################################################
# 以下のいずれかを設定してください。
# （全角半角も下記のままでお願いします。）
# Gougi.Type=多数決合議（3者）
# Gougi.Type=楽観合議
# Gougi.Type=悲観合議
# Gougi.Type=楽観合議と悲観合議を交互
############################################################
Gougi.Type=多数決合議（3者）


############################################################
# エンジンの設定
############################################################
# 【設定例】
# Engine1.Path=C:\将棋\Apery\ukamuse_sdt4.exe
# Engine2.Path=C:\将棋\Gikou\gikou.exe
# Engine3.Path=C:\将棋\nozomi\nozomi.exe
############################################################
# ・合議タイプが「多数決合議（3者）」の場合、エンジン1～3の3種類設定してください。
# ・合議タイプが「多数決合議（3者）」以外の場合、エンジンを2種類以上設定してください。（最大10種類まで）
############################################################
Engine1.Path=C:\将棋\Apery\ukamuse_sdt4.exe
Engine2.Path=C:\将棋\Gikou\gikou.exe
Engine3.Path=C:\将棋\nozomi\nozomi.exe

