######################################################################
# SimpleGougiShogi設定ファイル
######################################################################

############################################################
# 合議タイプの設定
############################################################
# 以下のいずれかを設定してください。
# （全角半角も下記のままでお願いします。）
# Gougi.Type=多数決合議（3者）
# Gougi.Type=楽観合議
# Gougi.Type=悲観合議
# Gougi.Type=楽観合議と悲観合議を交互
# Gougi.Type=2手前の評価値からの上昇分の楽観合議
# Gougi.Type=2手前の評価値からの上昇分の悲観合議
# Gougi.Type=各々の最善手を交換して評価値の合計で判定（2者）
# Gougi.Type=数手ごとに対局者交代
# Gougi.Type=2手前の評価値から一定値以上下降したら対局者交代
# Gougi.Type=2手前の評価値から一定値以上上昇したら対局者交代
############################################################
Gougi.Type=多数決合議（3者）


############################################################
# エンジンの設定
############################################################
# 【設定例】
# Engine1.Path=C:\将棋\Apery\ukamuse_sdt4.exe
# Engine2.Path=C:\将棋\Gikou\gikou.exe
# Engine3.Path=C:\将棋\nozomi\nozomi.exe
############################################################
# ・合議タイプが「多数決合議（3者）」の場合、エンジンを3種類設定してください。
# ・合議タイプが「各々の最善手を交換して評価値の合計で判定（2者）」の場合、エンジンを2種類設定してください。
# ・その他の場合、エンジンを2種類以上設定してください。（最大10種類まで）
############################################################
Engine1.Path=C:\将棋\Apery\ukamuse_sdt4.exe
Engine2.Path=C:\将棋\Gikou\gikou.exe
Engine3.Path=C:\将棋\nozomi\nozomi.exe

