######################################################################
# SimpleGougiShogiİ’èƒtƒ@ƒCƒ‹
######################################################################
# yİ’è—áz
# Engine1.Path=C:\«Šû\Apery\ukamuse_sdt4.exe
# Engine2.Path=C:\«Šû\Gikou\gikou.exe
# Engine3.Path=C:\«Šû\nozomi\nozomi.exe
######################################################################
Engine1.Path=C:\«Šû\Apery\ukamuse_sdt4.exe
Engine2.Path=C:\«Šû\Gikou\gikou.exe
Engine3.Path=C:\«Šû\nozomi\nozomi.exe

